# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# PySpark
spark-warehouse/

# Temporary files
*.tmp

# Raw data
data/


raw report/